body{
    margin: 0; 
    padding: 0; 
    background: lightgray; 
}

#main-Container{
    width: 95%; 
    margin: 20px auto 0px auto; 
}

header, section{
    background: white;
    border-radius: 20px; 
}

header{
    width: 100%; 
    margin: auto;
    text-align: right; 
    display: flex; 
    flex-direction: row; 
}

#img-Container img {
    display: block; 
    width: 80%;
    margin: 10px auto;
    background: inherit;

}

#header-Container {
display: flex; 
flex-direction: column;
align-items:  flex-end; 
justify-content: center;
flex-grow: 3;
flex-wrap: nowrap;
margin-right: 3%; 
color: lavender;
border-radius: 10px; 
}

#header-Container h1, #header-Container h3{
  margin: 0; 
}

#header-Container h1{
    font-size: 5vw; 
    padding-bottom: 10px; 
    font-family: 'Bevan', cursive;
}

#header-Container h3{
    font-size: 2vw; 
    font-family: 'Oxygen', sans-serif;
}




